# Golang CircleCI 2.0 configuration file
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.15
    working_directory: /go/src/github.com/amit-davidson/Chronos
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            go get -v -t -d ./...
      - run:
          name: Run tests
          command: |
            go test -v e2e-tests/summary_test.go